!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml" }
  %head
    %title
      BTA
      -unless page_title.blank? && page_subtitle.blank?
        \-
      = strip_tags page_title
      = page_subtitle
    %meta{ :name => "Generator", :content => "Yoomee (Ruby on Rails)" }
    %meta{ :name => "robots", :content => "index, follow" }
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "info", :content => "#{page_title}#{page_subtitle}" }
    %link{ :href => "/images/favicon.ico", :rel => "icon", :type => 'image/x-icon'}
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon", :type => 'image/x-icon'}
    = google_javascripts :jquery, :jqueryui
    = javascript_include_tag 'jquery.autocomplete'
    = javascript_include_tag 'jrails'
    = javascript_include_tag 'jquery.cycle'
    = javascript_include_tag 'tramlines'
    = javascript_include_tag "client/autoresize.jquery.min.js"
    
    = stylesheet_link_tag 'jquery-ui'
    = stylesheet_link_tag 'jquery.autocomplete'
    = google_analytics_js
    =#formtastic_stylesheet_link_tag
    =yield :head
    = stylesheet_link_tag 'client/styles'
    /[if IE 6]
      = stylesheet_link_tag 'client/ie6.css'
    -unless current_page?(new_session_path)
      :javascript
      
        function sleep(ms)
        	{
        		var dt = new Date();
        		dt.setTime(dt.getTime() + ms);
        		while (new Date().getTime() < dt.getTime());
        	}
      
        $(document).ready(function(){    
          $('.cycle').cycle({
            fx: 'fade',
            speed: 'slow',
            timeout: 15000,
            easing: 'easeOutQuint',
            pager:  '#other_case_studies ul', 
                pagerAnchorBuilder: function(idx, slide) { 
                    // return selector string for existing anchor 
                    return '#other_case_studies ul li:eq(' + idx + ') a';
                }     
          });  
          $('#direct').click(function() { 
              $('#other_case_studies ul li:eq(2) a').trigger('click'); 
              return false; 
          });      
          $("#member_login_bttn").click(function () {
            $("#login_slide_bar").slideToggle("slow");
            $("#member_login_bttn").toggleClass("open");
          });
          // Make all external requests open in a new window
          $('a').not("[href^='/']").not("[href*='#{request.host.gsub(/www\./, '')}']").not("[href^='#']").attr('target', '_blank');
        });


  -unless controller_name == 'documents' && action_name == 'show'
    :javascript
      $(document).ready(function() {
        // Track document downloads
        $("a[href^='/documents/'], a[href*='tinnitus.org.uk/documents/']").live('click', function() {
          var href = $(this).attr('href').match(/\/documents\/\d+/)[0];
          _gaq.push(['_trackPageview', href]);
          sleep(100);
          return true;
        });
      });

  - body_tag(:class => "#{'campaigns' if in_campaigns?}", :style => campaign_bg_color) do  
    #wrapper    
      #top
        =render_flash
        =render :partial => 'layouts/nav'
      -unless current_page?(new_session_path)
        #login_slide_bar
          #login_slide_bar_inside
            =render :partial => 'sessions/form'
      #header
        #header_inside
          =render :partial => 'layouts/header'
          
      #lower_wrapper
        #lower_wrapper_inside
          -if in_campaigns?
            #bta_home
              %h2
                =link_to site_name, :home
              %p  
                The British Tinnitus Association (BTA) is a world leader, with a trained team of friendly and experienced advisers for anyone who experiences tinnitus or those simply seeking guidance or information about the condition.
          -if viewing_blog?
            #sidebar_col
              #subnav=render_blog_sidebar
          -elsif !@content_for_sidebar.blank?
            #sidebar_col= yield :sidebar 
          #main.content            
            -unless hide_page_title?
              %h1#page_title=page_title
            =@content_for_layout
            %br.clear
        #footer
          =render :partial => 'layouts/footer'
    =tramlines_facebook_connect_receiver