="Hi #{@member.forename},"

-if @post.deleted?
  = "#{@post.member.full_name} deleted their post in the forum #{@post.forum.title}."
-elsif @post.edited?
  = "#{@post.member.full_name} edited their post in the forum #{@post.forum.title}."
-elsif @post.topic.contains_post_by?(@member)
  = "#{@post.member.full_name} has replied to your thread in the forum #{@post.forum.title}."
-else
  = "#{@post.member.full_name} has posted in the forum #{@post.forum.title}."

-unless @post.deleted?
  ="#{@post.member.forename} wrote:"

  = @post.message

-if @post.deleted?
  To view the thread click the link below.
  ="#{site_url}#{topic_path(@post.topic, :only_path => true)}"
-else
  To view the post click the link below.
  ="#{site_url}#{post_path(@post, :only_path => true)}"

Thanks

="The #{site_name} Team"